

.widget-container {
  justify-content: right;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.widget {
  background-color: #D9D9D9;

  flex: 1;
   /* Optional margin between widgets */

  padding: 10px;
  margin-left: 5%;
}

#leftbox {

  height:250px;
}
#middlebox{

  height:250px;
}
#rightbox{

  height:250px;
}
