# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# pnpm
.pnp/
.pnpm-debug.log*

# Build artifacts
/dist/
/dist-server/
/.npm/
/.yarn/
.next/
.nuxt/
.vuepress/dist/
out/

# Testing
/coverage/
/.nyc_output/
/jest.config.js
/jest.setup.js

# IDEs and Editors
/.idea/
/.vscode/
/.vs/
*.sublime-*
*.swp
*.swo

# Dependency lock files
/yarn.lock
/package-lock.json
/pnpm-lock.yaml
/shrinkwrap.yaml

# Miscellaneous
.DS_Store
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript specific
*.tsbuildinfo
*.ts~

# Angular specific
.angular/
/node_modules
/dist
/dist-server
/*.log

# React specific
/build
/.pnp
.pnp.js

# Vue.js specific
/dist
/temp

# Svelte specific
/public/build
/.svelte
