<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="bg-dark col-auto col-md-4 col-lg-3 min-vh-100 d-flex flex-column justify-content-between">
      <div class="bg-dark p-2">
        <a class="d-flex text-decoration-none mt-1 align-items-center text-white">
          <span class="fs-4 d-none d-sm-inline">Dashboard</span>
        </a>

        <ul class="nav nav-pills flex-column mt-4">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/mainpage">Homepage</a>
          </li>
          <li class="nav-item py-2 py-sm-0">
            <a *ngIf="ruolo.id==2" class="nav-link text-white" routerLink="/pacchetto">Packages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/indirizzo">Addresses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/cliente">User details</a>
          </li>
          <li class="nav-item">
            <a *ngIf="ruolo.id==1" class="nav-link text-white" routerLink="/cliente">Clients</a>
          </li>
          <li class="nav-item">
            <a *ngIf="ruolo.id==1" class="nav-link text-white" routerLink="/">Clients</a>
          </li>
        </ul>
      </div>
     </div>

     <div class="mx-auto">
      <router-outlet></router-outlet>
     </div>
  </div>
</div>





