<h2>Lista Consegne</h2>

<ul>
  <li *ngFor="let consegna of consegne">
    {{ consegna.id }} - {{ consegna.inizioConsegnaData }} - {{ consegna.fineConsegnaData }} - {{ consegna.targa }} - {{ consegna.idStatoConsegna }}
    <button (click)="selezionaConsegna(consegna.id)">Seleziona</button>
    <button (click)="attivaModifica(consegna)">Modifica</button>
    <button (click)="eliminaConsegna(consegna.id)">Elimina</button>
  </li>
</ul>

<div>
  <h2>Nuova Consegna</h2>
  <form (submit)="creaConsegna()">
    <div class="form-group">
      <label for="inizioConsegnaNuova">Inizio Consegna:</label>
      <input type="text" id="inizioConsegnaNuova" name="inizioConsegnaNuova" class="form-control"
        placeholder="Seleziona la data" [(ngModel)]="nuovaConsegna.inizioConsegnaData" ngbDatepicker #inizioConsegnaPicker="ngbDatepicker" required>
      <button type="button" class="btn btn-sm btn-outline-primary" (click)="inizioConsegnaPicker.toggle()">Apri calendario</button>
    </div>

    <div class="form-group">
      <label for="fineConsegnaNuova">Fine Consegna:</label>
      <input type="text" id="fineConsegnaNuova" name="fineConsegnaNuova" class="form-control"
        placeholder="Seleziona la data" [(ngModel)]="nuovaConsegna.fineConsegnaData" ngbDatepicker #fineConsegnaPicker="ngbDatepicker" required>
      <button type="button" class="btn btn-sm btn-outline-primary" (click)="fineConsegnaPicker.toggle()">Apri calendario</button>
    </div>

    <label for="targaNuova">Targa:</label>
    <input type="text" id="targaNuova" name="targaNuova" [(ngModel)]="nuovaConsegna.targa" required>

    <label for="idStatoConsegnaNuova">ID Stato Consegna:</label>
    <input type="number" id="idStatoConsegnaNuova" name="idStatoConsegnaNuova" [(ngModel)]="nuovaConsegna.idStatoConsegna" required>

    <button type="submit">Crea Consegna</button>
  </form>
</div>
