.sidebar-container {
  position: fixed;
  left: 0;
  min-height: 100vh;
  background-color: #333;
  padding: 0;
}

.content-container{

  padding-left: 25%;

  padding-right: 0%;
  padding-top: 2%;
}
