.sidebar {
<<<<<<< HEAD
  display: flex;
  flex: 0 0 auto;
  overflow-y: auto;
=======
>>>>>>> ac3211d120c7e14ebcdf82bad8b7f9ff4f7ac9f1
  flex-direction: column;
  background: #fff;
  transition: all 0.5s ease;
  top: 0;
  width: 5rem;
  height: 100vh;
}
  .logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;

    .logo {
      background: #fff;
      text-align: center;
      width: 3rem;
      min-width: 3rem;
      border-radius: 0.313rem;
      padding: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
      border: none;
    }

    .logo-image {
      max-width: 100%;
      margin-right: 10%;
      margin-bottom: 5%;
      max-height: 100%;
      border: none;
    }

    .logo-image.notCollapsed {
      display: flex;
      justify-content: center;
      align-items: center;
<<<<<<< HEAD
      height: 100%;
      width: 100%;
      font-size: 3rem;
    }
    .logo-image.notCollapsed .logo-content {
      background: #fff;
      height: 100%;
      width: 100%;
      display: flex;
      font-weight: bold;
      justify-content: center;
      align-items: center;
      border: none;
    }


=======
      font-weight: bold;
      height: 100%;
    }
>>>>>>> 09d254702189a64e75d8c7b72bdbfdf71e649e33

    .logo-content {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
    }

    .logo-text {
      margin-left: 1.5rem;
      font-size: 24px;
      font-weight: 700;
      color: #000;

    }

    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .fa-times {
        color: #000;
        font-size: 24px;
      }
    }
  }


.sidebar-collapsed {
  width: 16.5625rem;
}

.sidebar-nav {
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
<<<<<<< HEAD
  height: calc(100% - 3.65rem);
=======
  cursor: pointer;
>>>>>>> 09d254702189a64e75d8c7b72bdbfdf71e649e33

  .sidebar-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;

    .sidebar-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: #000;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: all 0.3s ease;

      .sidebar-link-icon {
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
      }

      .sidebar-link-text {
        margin-left: 1.5rem;
      }
    }
  }

  .sidebar-nav-item:hover {
    .sidebar-nav-link {
      background-color: #000;
      color: #fff;
    }
  }
}

.active {
  background-color: #000;

  .sidebar-link-icon,
  .sidebar-link-text {
    color: #fff;
  }
}

.theme-switch-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  font-size: 30px;
}


<<<<<<< HEAD
.theme-switch-button {
  border: none;
  background: transparent;
  width: 5rem;
=======
.logout-button:hover {
  background-color: #000;
  color: #fff;
>>>>>>> 09d254702189a64e75d8c7b72bdbfdf71e649e33
}


.logout-button {
  padding: 0 0.938rem 0 0.938rem;
  border-radius: 0.625rem;
  background-color: transparent;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 30px;
  transition: color 0.3s ease;
  margin-bottom: 4.5rem;
  padding: 0.5rem;


}
